body {
	background-color:{{ palette.website_background }};
}

.label {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

a.label:hover {
   background-color:red;
   color:{{ palette.website_background }};
}

.menu-item {
  background-color: {{ palette.box_background }};
  color: {{ palette.website_background }};
  margin-right: 15px;
  text-decoration: none;
  padding: 5px;
}

.box-header {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
  color: {{ palette.headers }};
}


.symbol {
  color: {{ palette.headers }};
  font-size: 25pt;
  float: right;
  margin-right: 5pt;
}

a.symbol {
  text-decoration: none;
}

a.symbol:hover {
  color: red;
}


.item-description a {
  color: purple;
}

.item-description a:hover {
  color: blue;
}

#header {
  margin-top: 5%;
}

#header>h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: {{ palette.headers }};
  font-size: 50pt;
  text-transform: uppercase;
  float: left;
}

.item {
  background-color: {{ palette.box_background }};
  padding: 2rem;
  border-bottom: 15px solid red;
  margin-bottom: 50px;
}

.item .label
{
  background-color:{{ palette.labels }};
  color:{{ palette.box_background }};
  margin-bottom: 4px;
}

.item-name
{
  color: {{ palette.box_title }};
  font-size: 6rem;
  word-wrap: break-word;
  text-transform: uppercase;
}

.item-description {
  color: {{ palette.box_description }};
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 120%;
}