{% set description_color = palette.entry_background|darken(40) %}

body {
	background-color:{{ palette.web_background }};
}

#header {
  margin-top: 5%;
}

#header>h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: {{ palette.header }};
  font-size: 50pt;
  text-transform: uppercase;
  float: left;
}

#logo {
  height:80px;
  vertical-align:bottom;
}

.social {
  color: {{ palette.social_icon }};
  font-size: 25pt;
  float: right;
  margin-right: 5pt;
}

a.social {
  text-decoration: none;
}

a.social:hover {
  color: {{ palette.header|darken(15) }};
}

.label {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.label a {
  color: {{ palette.entry_background }};
  text-decoration:none;
}

.label a:after{
  font-family: FontAwesome;
  content: " \f14c";
}

.menu {
  background-color: {{ palette.menu }};
  color: {{ palette.web_background }};
  margin-right: 15px;
  text-decoration: none;
  padding: 5px;
}

a.menu:hover {
   background-color:{{ palette.entry_background|darken(15) }};
   color:{{ palette.web_background }};
}

.section-title {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
  color: {{ palette.section }};
}

.entry {
  background-color: {{ palette.entry_background }};
  padding: 2rem;
  margin:0;
  margin-bottom: 50px; /* move to row */
  border-bottom: 15px solid {{ palette.entry_background|darken(10) }};
}

.entry-name
{
  font-size: 6rem;
  word-wrap: break-word;
  text-transform: uppercase;
  color: {{ palette.entry_title }};
}

.entry-description  {
  font-size: 2rem;
  font-weight: 300;
  line-height: 120%;
  margin-top: 10px;
  color: {{ description_color }};
}

.entry-description a {
  color: {{ description_color }};
}

.entry-description a:hover {
  color: {{ description_color|brighten(10) }};
}

.entry .label
{
  background-color:{{ palette.entry_label }};
  color:{{ palette.entry_background }};
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  display:inline-block;
}

.entry img
{
  min-width:100%;
  margin-bottom:10px;
}

.odd
{

}
