<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{settings.title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:200italic,400,300,600,800" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="datas/normalize.css">
  <link rel="stylesheet" href="datas/skeleton.css">
  <!-- THEME FILE -->
  <link rel="stylesheet" href="datas/style.css">

  {% if settings.logo_image|length == 0 or settings.social|length > 0 %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {% endif %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ settings.logo_image }}">
  <style type="text/css">
  </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div id="header" class="u-max-full-width">
        <h2>
          {% if settings.header %}
            {{settings.header}}
          {% else %}
            {{settings.title}}
          {% endif %}

          {% if settings.logo_image|length == 0 %}
            <i class="fa fa-cube"></i>
          {% else %}
            <img id="logo" src="{{settings.logo_image}}"/>
          {% endif %}
        </h2>
        {% for social_service, url in settings.social.items() %}
          <a href="{{ url }}" class="social"><i class="fa fa-{{ social_service }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- MENU -->
  <div class="container">
    <ul style="list-style-type: none;">
      {% for section_name, section in sections.items() %}
        <li style="display: inline-block;">
          <a href="#{{ section_name }}" class="label menu">{{ section_name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="container">
    {% for section_name, section in sections.items() %}
        <div id="{{ section_name }}" class="section-title">{{ section_name }}</div>
        <div class="row">
        {% for entry_name, entry in section.items() %}
            {% if loop.index == 1 or loop.index == loop.length // 2 + 1 %}
              <div class="column one-half {{ loop.cycle('odd', 'even') }}">
            {% endif %}
                <div class="column entry">
                  <h1 class="entry-name">{{entry_name}}</h1>
                  <img class="u-max-full-width" src="{{ entry.image }}"/>
                  {% for image in entry.images %}
                    <img class="u-max-full-width" src="{{ image }}"/>
                  {% endfor %}
                  {% if entry.video|length > 0 %}
                    <video style="width:100%" autoplay loop>
                      <source src="{{ entry.video }}">
                      Your browser does not support the video tag.
                    </video>
                  {% endif %}
                  <div class="entry-description">{{entry.description}}</div>
                  {% for label in entry.labels %}
                    <span class="label entry-label">{{label}}</span>
                  {% endfor %}
                </div>
            {% if loop.index == loop.length // 2 or loop.index == loop.length %}
              </div>
            {% endif %}
        
        {% endfor %}
        </div>

    {% endfor %}
  </div>

</body>
</html>
